    * {
        box-sizing: border-box;
    }
    
    .top {
        margin-left: auto;
        margin-right: auto;
        margin: 10px 0px 0px 100px;
        width: 1200px;
        font-family: "Montserrat";
    }
    
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        width: 50%;
    }
    
    a {
        text-decoration: none;
    }
    
    .header1 {
        padding: 20px;
        word-spacing: 5px;
        font-weight: 900;
        text-align: center;
        font-size: 40px;
        margin: 5px 0 30px 0;
        font-family: "Montserrat";
    }
    
    .main {
        width: 1200px;
        margin: 10px 0 0 0;
    }
    
    .main:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .col1 {
        float: left;
        width: 700px;
        padding: 10px;
        padding-bottom: 0px;
    }
    
    .col2 {
        box-shadow: 0px 0px 5px 0px rgb(167 167 167);
        float: right;
        width: 450px;
        height: 500px;
        padding: 30px;
    }
    
    .col1_row1 {
        word-spacing: -1px;
        font-weight: 900;
        font-size: 20px;
        margin-top: 100px;
        text-align: center;
        font-family: "Montserrat";
    }
    
    .col1_row2 {
        font-size: 12px;
        text-align: center;
        opacity: 0.6;
    }
    
    button {
        border-radius: 10px;
        background-color: rgb(103, 248, 108);
        opacity: 0.5;
        color: white;
        padding-top: 20px;
        padding-bottom: 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }
    
    .Login_here {
        color: red;
    }
    
    input {
        border: none;
        outline: none;
    }
    
    .signup {
        text-align: left;
        padding: 30px;
    }
    
    .right_1 {
        margin-top: 30px;
    }
    
    .right_2 {
        float: left;
    }
    
    .right_3 {
        float: right;
    }
    
    .right_4 {
        text-align: center;
    }
    
    .icon::before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
    
    .man::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        opacity: 0.2;
        content: "\f007             |";
    }
    
    .phone::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        opacity: 0.2;
        content: "\f095     |";
    }
    
    .email::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        opacity: 0.2;
        content: "\f0e0     |";
    }
    
    .pass::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        opacity: 0.2;
        content: "\f023     |";
    }
    
    button.signupbtn {
        margin-top: 15px;
    }