* {
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    text-align: center;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: black
}

.row1 {
    float: left;
    width: 700px;
    padding: 10px;
    padding-bottom: 0px;
    text-align: center;
}

.row2 {
    float: right;
    padding: 10px;
}

.signup {
    box-shadow: 0px 0px 5px 0px rgb(167 167 167);
    width: 400px;
    height: auto;
    padding: 40px;
    border-radius: 5px;
}

.signup_head {
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: 50%;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 15px;
    opacity: 0.6;
}

.col1 {
    word-spacing: -1px;
    font-weight: 900;
    margin-top: 100px;
    font-family: "Montserrat";
}

.signup_form {
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid black;
    padding: 15px 100px 5px 0;
    outline: none;
    opacity: 0.6;
}

input[type="checkbox"] {
    margin: 0;
}

.ckbox {
    padding: 30px 0;
}

.forgot_password {
    padding-left: 80px;
}

.submit {
    text-align: center;
}

input[type="submit"] {
    border-radius: 10px;
    background-color: rgb(61, 248, 67);
    opacity: 0.5;
    color: black;
    width: 100%;
    padding: 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    font-size: 15x;
}

#eye-con1,
#eye-con2 {
    display: none;
}

.icon1 {
    opacity: 0.6;
}

.icon1:hover {}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

.icon {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
    opacity: 0.6;
}

.validation {
    background-color: red;
}


/* For second page */

.rows {
    display: flex;
}